.container {
    text-align: center;
    padding: 20px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    padding: 10px;
    background-color: #d4d2d2;
    margin: 5px auto;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: darkred;
  }
  